.article
  padding 24px 0

  &-content
    padding-top 32px
    p
      padding-bottom 24px
      font-size 16px
      line-height 28px
      span
        float left
        font-size 72px
        font-weight 100
        line-height 72px
        letter-spacing 8px
        text-transform uppercase
        color #FFB647
        position relative
        margin-right 50px
        span
          position absolute
          color #8A94A6
          left 8px
          top 0

    bloquote
      padding-bottom 24px
      font-size 14px
      line-height 24px
      color $maingray
      display block

    img
      margin-bottom 24px

  &-path
    margin-top 24px
    display flex


  &-advertising
    margin-right 100px
    width 248px
    min-width 248px
    height 519px
    background-size cover
    padding 24px 36px
    display flex
    flex-direction column
    justify-content flex-end
    float left

    &__title
      font-size 20px
      line-height 24px
      color white
      padding-bottom 12px!important

    &__text
      font-size 14px
      line-height 20px!important
      color rgba(255, 255, 255, 0.5)
      padding-bottom 0!important
