header.header
  .wrap
    a(href="#").logo
      img(src="assets/images/logo.svg")
    

    nav.nav
      ul.nav-list
        li.nav-item
          a(href="#") Account
        li.nav-item
          a(href="#") Settings
        li.nav-item
          a(href="#") Messages
            span +2
        li.nav-item
          a(href="#") Help & FAQ
        li.nav-item
          a(href="#") Logout
      
    .header-right
      .user
        .user-avatar(style="background-image: url('assets/images/ach.jpg');")
          p.user-avatar__notif 2
        p.user__name Alex Chernov
      
      .header-more
        img(src="assets/images/more.svg")
