section.ready
  .wrap
    h2.section-title I’m ready to dev. test
    p.section-text Ready. Steady. Go.
    
    .ready-body
      .options
        .options-item
          input(type="checkbox" id="checkbox-1" checked).checkbox
          label(for="checkbox-1")
            span
              svg(width='14px', height='12px', viewbox='0 0 14 12')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span I will not xerox my butt
        .options-item
          input(type="checkbox" id="checkbox-2" checked).checkbox
          label(for="checkbox-2")
            span
              svg(width='12px', height='10px', viewbox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span Funny noises are not funny
        .options-item
          input(type="checkbox" id="checkbox-3" checked).checkbox
          label(for="checkbox-3")
            span
              svg(width='12px', height='10px', viewbox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span A burp is not an answer
        .options-item
          input(type="checkbox" id="checkbox-4" checked).checkbox
          label(for="checkbox-4")
            span
              svg(width='12px', height='10px', viewbox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span I will not skateboard in the halls
        .options-item
          input(type="checkbox" id="checkbox-5" checked).checkbox
          label(for="checkbox-5")
            span
              svg(width='12px', height='10px', viewbox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span I will not show off
        .options-item
          input(type="checkbox" id="checkbox-6" checked).checkbox
          label(for="checkbox-6")
            span
              svg(width='12px', height='10px', viewbox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
            span I am not a robot
      
      .pictures
        .pictures-container
          .pictures-item
            .pictures-item__image(style="background-image: url('assets/images/picture-1.jpg')")
            .pictures-item__line
          
          .pictures-item
            .pictures-item__image(style="background-image: url('assets/images/picture-2.jpg')")
            .pictures-item__line
          
          .pictures-item
            .pictures-item__image(style="background-image: url('assets/images/picture-3.jpg')")
            .pictures-item__line
          
          .pictures-item
            .pictures-item__image(style="background-image: url('assets/images/picture-4.jpg')")
            .pictures-item__line
        
    .next
      .next-button
        p.next-button__text Go futher
        .next-button__line
        .next-button__circle
          
