section.slider
  .wrap
    .slider-wrap
      .slider-item
        .slider-container
          .slider-item__image(style="background-image: url('assets/images/slider-1.jpg')")
          .slider-item-body
            .slider-item-button
              img(src="assets/images/plus.svg")
            h4.slider-item__title Origin bridge
            .slider-item-info
              p.slider-item-rate 4.3
              .slider-item-stars
                span.colored
                span.colored
                span.colored
                span
                span
            p.slider-item__text Our team is deeply experienced and we lend to businesses in a diverse range of industries.
      .slider-item
        .slider-container
          .slider-item__image(style="background-image: url('assets/images/slider-2.jpg')")
          .slider-item-body
            .slider-item-button
              img(src="assets/images/plus.svg")
            h4.slider-item__title Chronogate exp.
            .slider-item-info
              p.slider-item-rate 4.3
              .slider-item-stars
                span.colored
                span.colored
                span.colored
                span.colored
                span.colored
            p.slider-item__text Our team is deeply experienced and we lend to businesses in a diverse range of industries.
      .slider-item
        .slider-container
          .slider-item__image(style="background-image: url('assets/images/slider-3.jpg')")
          .slider-item-body
            .slider-item-button
              img(src="assets/images/plus.svg")
            h4.slider-item__title Fashion week
            .slider-item-info
              p.slider-item-rate 4.3
              .slider-item-stars
                span.colored
                span.colored
                span.colored
                span.colored
                span
            p.slider-item__text Our team is deeply experienced and we lend to businesses in a diverse range of industries.
      .slider-item
        .slider-container
          .slider-item__image(style="background-image: url('assets/images/slider-1.jpg')")
          .slider-item-body
            .slider-item-button
              img(src="assets/images/plus.svg")
            h4.slider-item__title Origin bridge
            .slider-item-info
              p.slider-item-rate 4.3
              .slider-item-stars
                span.colored
                span.colored
                span.colored
                span.colored
                span
            p.slider-item__text Our team is deeply experienced and we lend to businesses in a diverse range of industries.
      .slider-item
        .slider-container
          .slider-item__image(style="background-image: url('assets/images/slider-2.jpg')")
          .slider-item-body
            .slider-item-button
              img(src="assets/images/plus.svg")
            h4.slider-item__title Chronogate exp.
            p.slider-item-info
              .slider-item-rate 4.3
              .slider-item-stars
                span.colored
                span.colored
                span.colored
                span
                span
            p.slider-item__text Our team is deeply experienced and we lend to businesses in a diverse range of industries.
