section.stock
  .wrap
    .stock-body
      .stock-item
        .stock-container
          .stock-circle
            span
              span
                img(src="assets/images/stock-1.svg")
          .stock-wrap
            .stock__number $ 17,675
            .stock__text Total profit
              span +$489
      .stock-item
        .stock-container
          .stock-circle.violet
            span
              span
                img(src="assets/images/stock-2.svg")
          .stock-wrap
            .stock__number $ 17,675
            .stock__text Total profit
              span +$489
      .stock-item
        .stock-container
          .stock-circle.green
            span
              span
                img(src="assets/images/stock-3.svg")
          .stock-wrap
            .stock__number $ 17,675
            .stock__text Total profit
              span.bad -$89
